.tag_div {
  width: max-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--electric);
}

.tag_span {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: var(--electric);
}
