@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply h-14 w-full pl-6 border rounded-[14px] border-starkit-lavender focus:outline-starkit-indigo text-base;
  }

  .error_input {
    @apply h-14 w-full pl-6 border rounded-[14px] border-starkit-red/50 focus:outline-starkit-red text-base;
  }
}
