@import "./components/Button/Button.css";
@import "./components/Input/Input.css";
@import "./components/Label/Label.css";
@import "./components/Title/Title.css";
@import "./layouts/layouts_styles/Authpages.css";
@import "./layouts/layouts_styles/Loginpage.css";
@import "./layouts/layouts_styles/Registerpage.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #e3baa6;
  --green: #b5e3a6;
  --magnolia: #f2f2fe;
  --lavender: #b7b8fb;
  --electric: #1c24aa;
  --black: #000000;
  --white: #ffffff;
}

html {
  min-height: 100dvh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
