.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.menu_page {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: var(--lavender);
  text-decoration: none;
}

.menu_active_page {
  color: var(--electric);
}

.menu_a {
  padding: 15px 40px;
  background-color: var(--electric);
  border-radius: 14px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
  text-decoration: none;
}
